<div class="register-container">
  <form (ngSubmit)="register()" novalidate>
    <img src="mdmlogo_m.png" alt="" id="logo">
    <h2>Regisztráció</h2>

    <div class="input-group">
      <label for="username">Felhasználónév</label>
      <input id="username" type="text" [(ngModel)]="username" name="username" required placeholder="Felhasználónév"
        (input)="validateUsername()" />
      <div *ngIf="usernameError" class="error-message">{{ usernameError }}</div>
    </div>

    <div class="input-group password-group">
      <label for="password">Jelszó</label>
      <div class="password-wrapper">
        <input id="password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required
          placeholder="**********" (input)="checkPasswordStrength()" />
        <button type="button" class="toggle-password" (click)="togglePassword()">
          <i class="{{ showPassword ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
        </button>
      </div>
      <div class="password-strength">
        <div class="strength-bar" [ngClass]="strengthClass" [style.width.%]="passwordStrength"></div>
        <span class="strength-text">{{ strengthText }}</span>
      </div>
      <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
    </div>

    <div class="input-group password-group">
      <label for="confirmPassword">Jelszó újra</label>
      <div class="password-wrapper">
        <input id="confirmPassword" [type]="showConfirm ? 'text' : 'password'" [(ngModel)]="confirmPassword"
          name="confirmPassword" required placeholder="**********" />
        <button type="button" class="toggle-password" (click)="toggleConfirm()">
          <i class="{{ showConfirm ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
        </button>
      </div>
      <div *ngIf="confirmError" class="error-message">{{ confirmError }}</div>
    </div>

    <div class="input-group terms-group">
      <div class="terms-checkbox">
        <input type="checkbox" id="acceptTerms" [(ngModel)]="acceptedTerms" name="acceptTerms" required />
        <label for="acceptTerms">
          Elfogadom az <a href="/aszf" target="_blank" class="terms-link">Általános Szerződési Feltételeket</a>
        </label>
      </div>
      <div *ngIf="termsError" class="error-message">{{ termsError }}</div>
    </div>

    <button type="submit" [disabled]="isLoading" class="submit-btn">
      {{ isLoading ? 'Regisztrálás...' : 'Regisztrálok' }}
    </button>

    <p class="login-link">
      Már van fiókod? <a routerLink="/login">Bejelentkezés</a>
    </p>
  </form>
</div>