.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 220px);
  padding: 40px 20px;
}
input, button {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 1em;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
form{
  background: #1a1a1a;
  border: 2px solid #e60000;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 20px #e60000;
}

form h2 {
  color: #e60000;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #e60000;
  border-radius: 5px;
  background: #000;
  color: #fff;
}

form button {
  background: #e60000;
  border: none;
  color: #fff;
  padding: 12px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

form button:hover {
  background: #ff1a1a;
}

form a {
  color: #e60000;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}
